Assets/Standard Assets/Water (Pro Only)/
_ReSharper.a-pathfinding-project-csharp/
/Logs/
debugreplay.txt
/Assets/AstarPathfindingProject/Documentation.zip
/Assets/AstarPathfindingProject/Documentation.zip.meta
/Documentation/Documentation.zip
obj/
/node_modules/
/package-lock.json
Temp/
Library/
.DS_STORE
/.vs/
*.sln
*.csproj
*.pidb
*.unityproj
*.userprefs
Backups/
Builds/
Documentation/html/
Documentation/perlmod/
Documentation/xml
Documentation/latex
*.user
*.suo
Packages/
NoGit/
NoGit*
__pycache__
BuildDLL/*.dll
*.sublime-project
*.sublime-workspace
.vscode/launch.json
/Misc/
/Regression/variants/
/Documentation/sftp_log
/Regression/
/Assets/MovementAnimsetPro/
Assets/MovementAnimsetPro.meta
/Assets/Mecanim/
/Assets/Mecanim.meta
Assets/AstarPathfindingProject/Editor/EditorAssets/tooltips.tsv
Assets/AstarPathfindingProject/Editor/EditorAssets/tooltips.tsv.meta
.last-failed
.sass-cache
